body {
    background-color: #f8f9fa;
}

h1 {
    color: #343a40;
    font-weight: bold;
}

.table {
    margin: auto;
    max-width: 90%;
}

.table th, .table td {
    vertical-align: middle;
}

thead.thead-dark th {
    background-color: #343a40;
    color: white;
}

.table-responsive {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
